@charset "utf-8";
/*** header ***/
.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*55/1920=0.028*/
  padding-left: 2.8%;
  /*142/1920=0.073*/
  padding-right: 7.3%;
  position: absolute;
  padding-top: 12px;
  width: 100%; /*absoluteにするとwidthがなくなるのでもう一度設定する*/
  box-sizing: border-box;
  z-index: 9999;
}
h1 {
  width: 226px;
}
.header-nav ul {
  display: flex;
  gap: 80px;
}
.header-nav li {
  color: #fff;
  font-weight: bold;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
/* スライダーの下の小さい丸 */
.slick-dots {
  bottom: 0;
}
.slick-dots li button::before{
  color: #fff;
}
.slick-dots li.slick-active button::before{
  color: #fff;
}
.slick-dotted.slick-slider{
  margin-bottom: 0;
}
.hamburger,
.header-nav-sp {
  display: none;
}
@media screen and (max-width: 1100px){
  .header-nav {
    display: none;
  }
  .hamburger {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
  }
  .hamburger span {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    top: 13px;
    /* 3秒かけて.open spanになる */
    transition: .3s;
  }
  .hamburger span::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #fff;
    top: -10px;
    transition: .3s;
  }
  .hamburger span::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #fff;
    bottom: -10px;
    transition: .3s;
  }
  .open span {
    /* 透明にする */
    background-color: transparent;
  }
  .open span::before {
    /* 45度回転させる */
    transform: rotate(45deg);
    top: 0;
  }
  .open span::after {
    /* 反対側に45度回転させる */
    transform: rotate(-45deg);
    bottom: 0;
  }
  .header-nav-sp {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #00000077;
    z-index: 9998;
  }
  .header-nav-sp ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
  }
  .header-nav-sp li {
    color: #fff;
  font-weight: bold;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  }
}
main {
  background-color: #E8D9BF;
}

/*** top_lead ***/
.top_lead {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
.top_lead h2 {
  font-size: 30px;
  padding: 108px 0 56px;
  font-weight: normal;
}
.top_lead h3 {
  font-size: 82px;
  font-weight: normal;
  line-height: 1.17;
}
.top_lead-br {
  display: none;
}
.top_lead p {
  font-size: 23px;
  padding: 45px 0 100px;
  line-height: 1.65;
  margin: 0 auto;
}
@media screen and (max-width: 1100px) {
  .top_lead h2 {
    font-size: 24px;
  }
  .top_lead h3 {
    font-size: 56px;
    line-height: 1.2;
  }
  .top_lead p {
    font-size: 18px;
    line-height: 1.7;
  }
}
@media screen and (max-width: 767px) {
  .top_lead h2 {
    font-size: 17px;
    padding: 40px 0 32px;
  }
  .top_lead h3 {
    font-size: 36px;
    line-height: 1.26;
  }
  .top_lead-br {
    display: inline;
  }
  .top_lead p {
    font-size: 16px;
    padding: 24px 0 64px;
    line-height: 1.88;
  }
}

/*** Aboutus ***/
.heading {
  height: 55px;
  width: auto;
  padding-top: 64px;
  display: block;
  margin: 0 auto;
}
#Aboutus {
  padding: 0 10px;
}
.aboutus_container {
  max-width: 1000px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 44px;
}
.aboutus_img {
  width: 50%;
}
.aboutus_img img {
  border-radius: 0 0 82px 0;
}
.aboutus_lead {
  width: 50%;
  padding-left: 80px;
}
.aboutus_lead h2 img {
  margin: 0;
  text-align: left;
  padding-top: 0;
}
.aboutus_lead h3 {
  font-size: 44px;
  line-height: 1.39;
  padding: 60px 0 40px;
  font-weight: normal;
}
.aboutus_lead p {
  font-size: 16px;
  line-height: 1.62;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
.aboutus_container-sp {
  display: none;
}
@media screen and (max-width: 1100px) {
  .aboutus_lead h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) {
  .heading {
    padding-top: 0;
  }
  #Aboutus {
    padding: 0;
  }
  .aboutus_container {
    display: none;
  }
  .aboutus_container-sp {
    display: block;
    
  }
  .aboutus_container-sp h2 {
    padding-bottom: 16px;
  }
  .aboutus_img-sp {
    width: 100%;
  }
  .aboutus_container-sp h3 {
    font-size: 36px;
    line-height: 1.25;
    font-weight: normal;
    padding: 36px 20px 30px;
  }
  .aboutus_container-sp p {
    font-size: 16px;
    line-height: 1.75;
    padding: 0 20px 56px;
  }
}

/*** Menu ***/
#Menu{
  padding: 0 10px;
}
.menu_item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 46px 0 34px;
  max-width: 1000px;
  margin: 0 auto;
}
.menu_item-list {
  width: 300px;
}
.menu_item-list picture {
  position: relative;
}
.menu_img {
  border-radius: 0 42px 0 0;
}
.menu_item-list h3 {
  font-size: 38px;
  font-weight: normal;
  color: #D30202;
  position: absolute;
  z-index: 1;
  bottom: -25px;
  padding-left: 12px;
}
.menu_item-list p {
  margin-top: 45px;
  line-height: 1.47;
}
@media screen and (max-width: 767px) {
  #Menu {
    padding: 0 36px;
  }
  .menu_item {
    flex-direction: column;
    padding: 24px 0 32px;
  }
  .menu_item-list {
    width: 100%;
  }
  .menu_item-list h3 {
    font-size: 40px;
  }
  .menu_item-list p {
    font-size: 17px;
    line-height: 1.59;
    padding-bottom: 60px;
  }
}

/*** Gallery ***/
.gallery_item {
  display: flex;
  justify-content: center;
}
.gallery_item li {
  width: 384px;
  margin: 24px auto 6px auto;
}
@media screen and (max-width: 767px) {
  .gallery_item li {
    width: 100%;
  }
  .gallery_item-pc {
    display: none;
  }
}

/*** Event ***/
#Event {
  padding: 0 10px;
}
.event_list {
  max-width: 1000px;
  border: solid 3px #4F260B;
  background-color: #fff;
  margin: 40px auto 0;
  padding: 30px 0;
}
.event_list li {
  display: flex;
  justify-content: flex-start;
  font-size: 23px;
  line-height: 1.96;
  align-items: center;
}
.event_list li time {
  text-align: center;
  flex: 0.3;
}
.event_list li p {
  text-decoration: underline;
  text-align: left;
  flex: 0.7;
}
@media screen and (max-width: 767px) {
  #Event {
    padding: 32px 20px;
  }
  .event_list {
    padding: 20px 27px;
  }
  .event_list li {
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
  }
  .event_list time {
    text-align: left;
  }
  .event_list p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/*** Access ***/
.access_map {
  height: 470px;
  margin-top: 45px;
}
.access_map iframe {
  width: 100%;
  height: 100%;
  filter: grayscale(100%) invert(92%) contrast(83%);
}
@media screen and (max-width: 767px) {
  .access_map {
    margin-top: 12px;
    height: 190px;
  }
}

/*** footer ***/
footer {
  height: 392px;
}
.footer-content {
  display: flex;
  justify-content: flex-start;
  padding: 80px 0;
  margin: 0 auto;
  max-width: 1000px;
}
.footer-content img {
  height: 35px;
  width: auto;
  margin: 0 68px 0 10px;

}
.footer-info p {
  font-size: 20px;
  line-height: 1.95;
}
.copyright {
  display: block;
  text-align: center;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .footer-content {
    flex-direction: column;
    padding: 50px 20px 30px;
  }
  .footer-logo {
    width: 100%;
  }
  .footer-logo img {
    margin: 0;
  }
  .footer-info {
    padding: 32px 0 40px;
  }
  .footer-info p {
    font-size: 18px;
    line-height: 1.72;
  }
}
.toTop {
  height: 100px;
  width: 100px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}